*{
    margin:0px;
    padding:0px;
    background-color: black;
    font-family: Arial, sans-serif;
}
.container{
    width: 60%;
    margin:auto;
    font-size: 30px;
    margin-top:100px;
    font-family: Arial, sans-serif;
    letter-spacing: 2px;
    color:white;
}
.typing{
    width: 60%;
    margin:auto;
    font-size:30px;
    height:60px;
    margin-top:30px;
}
.intake{
    width:100%;
    height:100%;
    font-size:30px;
    border:2px solid grey;
    color:white;
}
::placeholder{
    font-size: 25px;
}
.speed{
    display:none;
    width:30%;
    margin:auto;
    margin-top:40px;
    font-family: Arial, sans-serif;
    
}
.speed .wordstyped, .timetaken{
    color:white;
    margin-left:10px;
    margin-bottom: 10px;
}
.speed .demo{
    margin:10px;
    color:blueviolet;
}
.typeagain{
    display:none;
    width:10%;
    margin:auto;
    margin-top:20px;
    color:white;
    background-color:blueviolet;
    border: 5px solid blueviolet;
    padding:10px;
    font-size:20px;
    border-radius: 5px;
    cursor:pointer;
}
.copyright{
    position:fixed;
    bottom:10px;
    right:10px;
    color:white;

}